body
{ 
  background: url("blumen.jpg");
  color:black;
  background-position: bottom center; 
	background-repeat: no-repeat; 
	background-size:cover; 
	background-attachment:fixed;
}
p 
{
  font-size:19pt;
  font-family: 'Assistant', sans-serif;
  
}
a 
{
  color: black;
}
input
{
  font-size: 20pt; 
  width: 200px;
}
h1 
{
  font-family: 'Handlee', cursive;
  font-size: 30pt;
  color:#006b30;
}
h2
{
  font-family: 'Handlee', cursive;
  color:#006b30;
}
*
{
  box-sizing: border-box;
}
.row::after 
{
  content: "";
  clear: both;
  display: table;
}
    
[class*="col-"] 
{
  float: left;
  padding: 15px;
}
.header
{
  
}
.menu ul 
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size:17pt;
  font-family: 'Handlee', cursive;
  padding-top: 30px;
}
.menu li 
{
  padding: 8px;
  margin-bottom: 7px;
  font-family: 'Handlee', cursive;
}
.menu li a:hover 
{
  color: #006b30;
}
.aside 
{ 
  padding: 15px;
  text-align: center;
  font-size: 14px;
}
.footer 
{
  position: relative;
  text-align: center;
  font-size: 15px;
  padding: 15px;
}
.footer p a:hover
{
  font-size:15pt;
  text-align: center;
  color: #006b30;
  transition: backgorund-color 4s;

}
video
{
  width: 100%;
  height: auto;
  border-radius: 3%;
}
img 
{
  width: 100%;
  height: auto;
  border-radius: 3%;
}
.img-fit 
{
  justify-content: center;
}
/* Für mobile: */
[class*="col-"]
{
  width: 102%;
}
/* Für tablets: */
@media only screen and (min-width: 600px) 
{
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
      
}
/* Für desktop: */
@media only screen and (min-width: 768px) 
{
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
